body {
  margin: 0;
}

p {
  margin-left: 350px;
  margin-right: 350px;
}

p1 {
  margin-left: 0px;
  margin-right: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #CAD1B3;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 6px 16px;
  text-decoration: none;
  font-size: 20px;
  text-align:center;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #64785A;
  color: white;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

table, th, td {
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
th, td {
  background-color: #96D4D4;
}

